.rec{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.rectangulo{
    background-color: rgba(0, 73, 39, 0.945);
    height: 800px;
    width: 1500px;
    border-radius: 30px;
    align-items: center;
    display: flex;
  
}
.Btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Btn-pedir{
    background-color: rgb(255, 217, 0);
    color: white;
    border: 0;
    border-radius: 999px;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 15%;
    cursor: pointer;
}
.Btn-plantarse{
    background-color: rgb(185, 1, 1);
    color: white;
    border: 0;
    border-radius: 999px;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 15%;
    cursor: pointer;
}
.Diler{
    position: fixed;
    left: 47%;
    bottom: 57%;
    color: white;
    width: auto;
    height: auto;
    font-family: sans-serif;

}
.Usuario{
    position: fixed;
    left: 46%;
    top: 82%;
    color: white;
    width: auto;
    height: auto;
    font-family: sans-serif;

}
.fichas{
    position: fixed;
    top: 79%;  
    width: 32%;
}
.fichas-1{
    margin-left: 7%;
    width: 90px;
    height: 90px;
}
.fichas-5{
    margin-left: 3%;
    width: 90px;
    height: 90px;
}
.fichas-10{
    margin-left: 3%;
    width: 90px;
    height: 90px;
}
.fichas-20{
    margin-left: 3%;
    width: 90px;
    height: 90px;
}
.fichas-50{
    margin-left: 3%;
    width: 90px;
    height: 90px;
}

    

